/* @import url("styles.css"); */
nav{
    background-color: black;
    color: #fff;
    padding: 30px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover{
    color: #ddd;
    text-decoration: underline;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
li{
    list-style: none;
    margin: 10px 0;
}
p{
    text-align: center;
    font-size: 18px;
    position: relative;
    margin: 0;
    padding: 20px;
}

input[type="submit"]{
    padding: 10px 20px;
    background-color: #6200ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #000000;
}
table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid #ddd;
}
th, td{
    padding: 10px;
    text-align: left;
}
th{
    background-color: #000000;
    color: #fff;
}
a{
    text-align: center; 
    color: #6200ff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #2b0a76;
}
.logout-link{
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
li{
    text-align: center;
    font-size: 18px;
    margin: 10px 0;

}
